<html>
	<head>
		<meta charset='utf-8' />
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" /> 
		<title>BBC Page</title>
		<style type="text/css">
		    body {
		    	padding: 0px;
		    	margin: 0;
		    }
			.header-first-row {
				width: 	1000px;
				margin: 0 auto;
			}
			.logo {
				float: left;
				margin: 10px 10px 0px 10px;
			    text-align: center;

			}
			.sign-in {
                border-left: 2px;
			    border-left-style: groove;
			}
			.first-row-sign-in-more {
				float: left;
				border-right: 2px;
			    border-right-style: groove;
			    text-align: center;
			    padding: 10px 70px 10px 15px;
			}
			.first-row-sign-in-more a {
				text-decoration: none;
				color: black;
				font-weight: bold;
			}
			.first-row-sign-in-more a:hover {
				text-decoration: underline;
			}
			.first-row-content {
				float: left;
				border-right: 2px;
			    border-right-style: groove;
			    text-align: center;
			    padding: 10px 15px;
			}
			
			.first-row-content a {
            	text-decoration: none;
            	font-weight: bold;
				color: black;
			}
			.first-row-content a:hover {
				text-decoration: underline;
			}
			.search-icon {
				float: right;
				background: #f1eded;
				height: 22px;
				margin-top: 10px;
			}
			.search-box {
				float: right;
				padding: 10px 0px 0px 10px;
			}
			.search-box input {
				padding: 10px;
				width: 160px;
				background: #f1eded;
				border-style: none;
				height: 22px;

			}
			.clear_float {
				clear: both;
			}
			.header-second-row {
                height: 50px;
                background: #b31a1a;
			}
			.local-news-wrapper {
				float: right;
				margin: 7px 150px 7px 7px;
				height: 30px;
				width: 200px;
				border: 1px grey solid;
				text-align: center;	
			}
			#local-news {
				font-size: 	20px;
				font-weight: bold;	
				color: white;
				text-decoration: none;
				padding: 10px;	
				display: block;	
				padding: 5px;
			}
			.header-third-row {
				height: 40px;
				background: #980c0c;
				text-align: center;	
			}
			.sub-header {
				height: auto;
				width: 	1000px;
				display: inline-block;	
			}
			.sub-header-list {
				height: 100%;
				margin: 0px;
				list-style-type: none;
				padding: 0px;
			}
			.sub-header-name {
				float: left;
				padding: 11px;
			}
			.sub-header-name a {
				color: white;
				text-decoration: none;
			}
			.main-container {
				display: flex;
				justify-content: center;
			}
			.page-contents {
				width: 1000px;
				margin: 0 auto;
			}
			#tab-title {
				font-size: 20px;
				width: 100px;
				font-weight: bold;
				margin-top: 5px;
				margin-left: 8px;
				border-bottom: 3px solid #980c0c;
			}
		</style>	
	</head>
	<body>
		<div class="header">
	    	<div class="header-first-row">
	    		<div class="logo"><a href="#"><img src="assets/bbc_logo.png"></a></div>
	    		<div class="first-row-sign-in-more sign-in"><a href="#">Sign In</a></div>
	    		<div class="first-row-content"><a href="#">Tech</a></div>
	    		<div class="first-row-content"><a href="#">Sport</a></div>
	    		<div class="first-row-content"><a href="#">Weather</a></div>
	    		<div class="first-row-content"><a href="#">TV</a></div>
	    		<div class="first-row-content"><a href="#">Radio</a></div>
	    		<div class="first-row-content"><a href="#">CBBC</a></div>
	    		<div class="first-row-sign-in-more"><a href="#">More</a></div>
	    		<div class="search-icon"><img src="./images/main_header_search.png"></div>
	    		<div class="search-box"><input type="text" name="" placeholder="Search" class=""></div>
	    		<div class="clear_float"></div>
	    	</div>
	    	<div class="clear_float"></div>	
	    	<div class="header-second-row">
	    		<div class="local-news-wrapper">
	    			<a href="#" id="local-news">Find Local News</a>
	    		</div>
	    	</div>
	    		
	    	<div class="header-third-row">
	    		<div class="sub-header">
	    			<ul class="sub-header-list">
	    				<li class="sub-header-name"><a href="#">Home</a></li>
	    				<li class="sub-header-name"><a href="#">UK</a></li>
	    				<li class="sub-header-name"><a href="#">World</a></li>
	    				<li class="sub-header-name"><a href="#">Business</a></li>
	    				<li class="sub-header-name"><a href="#">Politics</a></li>
	    				<li class="sub-header-name"><a href="#">Tech</a></li>
	    				<li class="sub-header-name"><a href="#">Science</a></li>
	    				<li class="sub-header-name"><a href="#">Health</a></li>
	    				<li class="sub-header-name"><a href="#">Education</a></li>
	    				<li class="sub-header-name"><a href="#">Entertainment and Arts</a></li>
	    				<li class="sub-header-name"><a href="#">Video and Audio</a></li>
	    				<li class="sub-header-name"><a href="#">More</a></li>
	    				<div class="clear_float"></div>
	    			</ul>
	    		</div>
	    	</div>
	    	<div class="clear_float"></div>
    	</div>
    	<div class="main-container">
            <div class="page-contents">
    			<h2 id='tab-title'>Technology</h2>
    		</div>	
    	</div>
	</body>	
</html>